<!DOCTYPE html><!--队伍管理 原 交流合作-->
<html>
<head>
    <meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>虚拟仿真实验教学中心</title>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/cxxt-mian.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="css/media.css">
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="css/cxxt_introduce.css" />
    <link rel="stylesheet" type="text/css" href="css/team.css" /><!--新加入-->
    <script type="text/javascript" src="js/media.js"></script>
</head>
<body>
<!--头部开始-->
<div class="header">
    <div class="cx-wrapper topwrapbg">
        <div class="cx-inner">
            <div class="topwrap yahei"><!--logo-->
                <a class="logo" href="cxxt_index.jsp" target="_self">
                    <img src="img/logo.png"/>
                </a>
                <div class="logo-center">
                    <!--这是一张校训图片，现在没有.加载背景图上-->
                </div>
                <!--屏幕在320px时，打开切换按钮，nav-->
                <div class="nav-tab" id="nav_tab">
                    <!--<img src="img/ban_img/icon.png"/>-->
                </div>
                <!--搜索开始-->
                <div class="logo-r" id="logo_r">
                    <div class="guanliyuan">
                        <a >请搜索关键字</a>
                        <a>|</a>
                        <a href="#">管理员</a>
                    </div>
                    <div class="searchs">
                        <div class="search">
                            <div class="search-input">
                                <input name="keyword" class="search-title" type="text" placeholder="搜索...">
                            </div>
                            <div class="search-btn">
                                <input name="submit" class="search-submit" type="submit" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <!--搜索结束-->
            </div>
        </div>
    </div>
</div>
<!--头部结束-->
<div class="cl"></div><!--清除浮动-->
<!--nav开始-->
<div class="nav" id="nav">
    <div class="cx-inner">
        <div class="navs yahei">
            <ul>
	            <li><a href="cxxt_index.jsp" target="_self">首页</a></li>
				<li><a href="cxxt_introduce.html" target="_self">中心概述</a></li>
				<li><a href="cxxt-jxzy.html" target="_self">教学资源</a></li>
				<li><a href="cxxt_Communication.html" target="_self">队伍管理</a></li>
				<li><a href="cxxt_Project.html" target="_self">项目展示</a></li>
				<li><a href="cxxt_disciplne.html" target="_self">规章制度</a></li>
				<li><a href="cxxt_quenstion.html" target="_self">在线解答</a></li>
            </ul>
        </div>
    </div>
</div>
<!--nav结束-->

<div class="cl"></div><!--清除浮动-->

<!--大图banner-->
<div class="banner">
    <div class="banner_img">
        <img src="img/cj-img1.jpg">
        <div class="headline">
            <div class="hl_bg"></div>
            <div class="hl_p">
                <p class="hl">队伍管理</p>
            </div>
        </div>
        <p class="media-p">队伍管理</p>
    </div>
</div>
<!--主体开始-->
<div class="content_team">
	<div class="cx-inner">
		
	
    <div class="inline_block"><!------页面路径盒子-->
        <a class="inline_block" href="cxxt_Communication.html">师资队伍&nbsp;&gt;</a>
            师资&nbsp;
    </div>
    <div class="cont-team-warp">
    	<div class="teams-warp-img">
	    	<!--<img src="img/xx.jpg"/>-->
    	</div>
    	<div class="teams-wrap">
    		<table class="teams-wrap-table center" cellspacing="0" cellpadding="0"><!--MsoNormalTable-->
    			<tbody>
    				<tr class="trs">
    					<td  class="td-left td-left-bg clearfix" rowspan="4" colspan="2">
    						<!--<p>基本信息</p>-->
    						<img class="rw-img" src="img/rw-img.jpg"/>
    					</td>
		    			<td>
		    				<p class="td-p">姓名</p>
		    			</td>
		    			<td>
		    				<p class="td-p">张三</p>
		    			</td>
		    			<td>
		    				<p class="td-p">性别</p>
		    			</td>
		    			<td>
		    				<p class="td-p">男</p>
		    			</td>
		    			<td>
		    				<p class="td-p">出生日期</p>
		    			</td>
		    			<td>
		    				<p class="td-p">1990.10.10</p>
		    			</td>	
					</tr>
					<tr >
		    			<td>
		    				<p class="td-p">学历</p>
		    			</td>
		    			<td>
		    				<p class="td-p">巢湖学院</p>
		    			</td>
		    			<td>
		    				<p class="td-p">职务</p>
		    			</td>
		    			<td>
		    				<p class="td-p">教授</p>
		    			</td>	
		    			<td>
		    				<p>电话</p>
		    			</td>
		    			<td>
		    				<p>130xxxxxxx</p>
		    			</td>
					</tr>
					<tr>
		    			<td>
		    				<p class="td-p">所在院系</p>
		    			</td>
		    			<td colspan="2">
		    				<p colspan="2">信息工程学院</p>
		    			</td>
		    			<td>
		    				<p class="td-p">email</p>
		    			</td>
		    			<td colspan="2">
		    				<p class="td-p">111xxxxx@qq.com</p>
		    			</td>
					</tr>
					<tr>
						<td >
							<p>研究方向</p>
						</td>
						<td colspan="5">
							<p>前端的理论，后台的发展</p>
						</td>
					</tr>
					<tr>
						<td class="td-left td-left-bg clearfix" rowspan="1" colspan="2">
							<p>教学情况</p>
						</td>
						<td colspan="6" class=" yahei">
							<p class="td-rig td-rig-top">&nbsp;&nbsp;近五年来讲授的主要课程（含课程名称、课程类别、周学时；届数及学生总人数）（不超过五门）；承担的实践性教学（含实验、实习、课程设计、毕业设计/论文，学生总人数）；主持的教学研究课题（含课题名称、来源、年限）（不超过五项）；作为第一署名人在国内外公开发行的刊物上发表的教学研究论文（含题目、刊物名称、时间）（不超过十项）；获得的教学表彰/奖励（不超过五项）
							</p>
							<p class="td-rig td-rig-top ">1、近五年来讲授的主要课程： 课程名称 课程类别 周学时 届数及学生总人数 《操作系统》 本科专业基础课 4学时/周 2 届 近200人 《应用密码学》 本科专业选修课 4学时/周 5 届 近300人 《网络安全编程与实践》本科专业选修课 4学时/周 4 届 近500人 《信息安全概论》本科专业基础课4学时/周 2届近120人
							</p>
							<p class="td-rig td-rig-top">
2、近五年承担的实践性教学： 操作系统课程设计 4年 300人左右 C程序设计及课程设计 4年 200人左右 网络安全编程与实践课程设计 4年 200人左右 数据结构课程设计 3年 100人左右 毕业论文、毕业设计 5年 30人左右								
							</p>
							<p class="td-rig td-rig-top">
 								3、参与的教学研究课题： 
								 <span class="td-rig-span"> （1） 《计算机信息安全》实验课体系的构建与教学方法研究,2005-2009，排名第二 </span>
								 <span class="td-rig-span"> （2）信息安全专业方向人才培养模式研究，2008-2011，排名第2 </span>
								 <span class="td-rig-span"> （3）基于校企合作的电信专业创新人才培养模式探索与实践，2013-今，排名第2 </span>
								 <span class="td-rig-span"> （4）省2012273、面向物联网工程专业的网络管理与安全课程群建设，2013-今，排名第2 </span>
							</p>
							<div class="cl"></div>
						</td>
					</tr>
					<tr>
						<td class="td-left td-left-bg clearfix" rowspan="1" colspan="2">
							<p>研究成果</p>
						</td>
						<td colspan="6">
							<p class="td-rig td-rig-top">
								 <span class="td-rig-span"> （1） 《计算机信息安全》实验课体系的构建与教学方法研究,2005-2009，排名第二 </span>
								 <span class="td-rig-span"> （2）信息安全专业方向人才培养模式研究，2008-2011，排名第2 </span>
								 <span class="td-rig-span"> （3）基于校企合作的电信专业创新人才培养模式探索与实践，2013-今，排名第2 </span>
								 <span class="td-rig-span"> （4）省2012273、面向物联网工程专业的网络管理与安全课程群建设，2013-今，排名第2 </span>
							</p>
							<div class="cl"></div>
						</td>
					</tr>	
    			</tbody>
    		</table>
    	</div>
    </div>
    </div>
</div>
</div>
<!--主体结束-->

<div class="cl"></div>

<!--footer开始-->
<div class="footer cx-wrapper clearfix">
    <div class="cx-inner clearfix">
        <div class="foot_l">
            <img src="img/sydw.jpg"/>
            <p>版权所有 巢湖学院 Copyright © Chaohu university All rights reserved.</p>
            <p>校址：安徽省合肥巢湖经济开发区  邮政编码：238000 皖ICP备05018249号</p>
        </div>
        <div class="foot_r">
            <div class="f_r_peo" frag="面板15">
                <div frag="窗口15">
                    <div class="articlecontent ">
                        <style type="text/css">
                            .wp_editor_art_table td {
                                border:0 !important;
                                background:none !important;
                                color:#fff;
                            }
                            .wp_editor_art_table {
                                margin-bottom:0 !important;
                            }
                        </style>
                        <table class="wp_editor_art_table" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td>
                                    <p style="text-align:center;">
                                        <img data-layer="photo" src="img/weberwema.jpg" style="float:none;" sudyfile-attr="{'title':'wzewm.jpg'}"></p>
                                </td>
                                <td>
                                    <p style="text-align:center;">
                                        <img data-layer="photo" src="img/wecharerweima.jpg" style="float:none;" sudyfile-attr="{'title':'wxewm.jpg'}"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">网站二维码</td>
                                <td style="text-align:center;">微信二维码<br></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="f_r_le">
                <img src="img/gaba.jpg">
                <span>皖公网安备 34018102340270号</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
