<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>虚拟仿真实验教学中心</title>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" type="text/css" href="css/cxxt-mian.css"/>

		<link rel="stylesheet" type="text/css" href="css/cxxt_download.css"/>
		<link rel="stylesheet" type="text/css" media="screen" href="css/media.css">
		<link href="favicon.ico" rel="shortcut icon">
		<script type="text/javascript" src="js/jxzy.js"></script>
</head>
<body>
	<!--头部开始-->
	<div class="header">
			<div class="cx-wrapper topwrapbg">
				<div class="cx-inner">
					<div class="topwrap yahei"><!--logo-->
						<a class="logo" href="cxxt_index.jsp" target="_self">
							<img src="img/logo.png"/>
						</a>
						<div class="logo-center">
							<!--这是一张校训图片，现在没有.加载背景图上-->
						</div>
						<!--屏幕在320px时，打开切换按钮，nav-->
						<div class="nav-tab" id="nav_tab">
							<!--<img src="img/ban_img/icon.png"/>-->
						</div>
						<!--搜索开始-->
						<div class="logo-r" id="logo_r">
							<div class="guanliyuan">
								<a >请搜索关键字</a>
								<a>|</a>
								<a href="#">管理员</a>
							</div>
							<div class="searchs">
								<div class="search">
									<div class="search-input">
										<input name="keyword" class="search-title" type="text" placeholder="搜索...">
									</div>
									<div class="search-btn">
										<input name="submit" class="search-submit" type="submit" value="">
									</div>
								</div>
							</div>
						</div>
						<!--搜索结束-->
					</div>
				</div>
			</div>
		</div>
	<!--头部结束-->
	<div class="cl"></div><!--清除浮动-->
	<!--nav开始-->
	<div class="nav" id="nav">
			<div class="cx-inner">
				<div class="navs yahei">
						<ul>
							<li><a href="cxxt_index.jsp" target="_self">首页</a></li>
							<li><a href="cxxt_introduce.html" target="_self">中心概述</a></li>
							<li><a href="cxxt-jxzy.html" target="_self">教学资源</a></li>
							<li><a href="cxxt_Communication.html" target="_self">队伍管理</a></li>
							<li><a href="cxxt_Project.html" target="_self">项目展示</a></li>
							<li><a href="cxxt_disciplne.html" target="_self">规章制度</a></li>
							<li><a href="cxxt_quenstion.html" target="_self">在线解答</a></li>
						</ul>
				</div>
			</div>
		</div>	
	<!--nav结束-->
		
	<div class="cl"></div><!--清除浮动-->
		
	<!--大图banner-->
	<div class="banner">
			<div class="banner_img">
				<img src="img/cj-img1.jpg">
				<div class="headline">
					<div class="hl_bg"></div>
					<div class="hl_p">
						<p class="hl">文件库</p>
					</div>
				</div>
				<p class="media-p">文件库</p>
			</div>
		</div>
	<!--大图baner结束-->
	
	<!--开始内容部分-->
	<div class="downcontent" id="down_content">
	    	<div class="cx-inner clearfix">
	    		<!--内容左边栏开始-->
	    		<!--此处已更改-->
			    <div class="downcolumn1">
			    	<div class="downcolumn1-top">
			    	<span class="downspan1">学习资源下载</span>
			    	<!--此处表示响应式隐藏的按钮-->
			    	<div id="downline">
			    		<div class="downline1"></div>
			    		<div class="downline2"></div>
			    		<div class="downline3"></div>
			    	</div>
			    	</div>
			    	<div class="downcolumn1-content" id="downcolumn1_content">
			    	 	<ul id="downcolumn1ul">
			    	 		<li id="downcolumn1ul_li">
			    	 			<img src="img/img_project/column1-topspan2.gif"><span class="backgroundcolor" id="downcolumn1ul_li_sp"><a>课程讲义</a></span>
			    	 			<ul class="downcolumn1ul-li-ul" id="downcolumn1ul_li_ul">
			    	 				<li><a href="cxxt-jxzy-a.html">计算机网络</a></li>
			    	 				<li><a href="cxxt-jxzy-b.html">oracle</a></li>
			    	 				<li><a href="cxxt-jxzy-c.html">flash</a></li>
			    	 				<li><a href="cxxt-jxzy-d.html">javascript</a></li>
			    	 			</ul>
			    	 		</li>
			    	 		<li><img src="img/img_project/column1-topspan2.gif"><span><a href="cxxt-jxzy-shiyan.html">仿真工具</a></span></li>
			    	 		<li><img src="img/img_project/column1-topspan2.gif"><span><a href="cxxt-jxzy-zhidao.html">实验指导</a></span></li>
			    	 	</ul>
			    	 </div>
			    </div>
			    <!--更改结束-->
			    <!--内容左边栏结束-->
			    <!--内容中间栏开始-->
			    <div class="downcolumncontent" id="downcolumn_content">
			    <!--内容中间栏第一个模板开始-->
				<div class="downcolumntwo">
				    <div class="downcolumn2-top">
				    	 	<div class="downcolumn2-top1">
				    	 		仿真工具
				    	 	</div>
				    	 	<div class="downcolumn2-top2">
				    	 		<span>
				    	 			<a href="cxxt_index.jsp">首页>></a>
				    	 		</span>
				    	 		<span >
				    	 			<a href="cxxt-jxzy.html">教学资源>></a>
				    	 		</span>
				    	 		<span >
				    	 			<a href="cxxt-jxzy-shiyan.html">实验工具</a>
				    	 		</span>
				    	 	</div>
				    </div>
				    <div class="downcolumn2-content clearfix">
	                 <table>
	                    <thead>
	                    <tr><td class="td1">仿真工具简介</td><td class="td3">下载</td></tr>
	                    </thead>
	                    <tbody>
	                     <tr>
	                        <td class="tbodytd1">
	                            <img src="img/timg.jpg">
	                            <span><a href="" class="">Wireshark协议分析软件</a></br>
	                            	<p class="shiyan-p"> &nbsp;&nbsp;Wireshark（前称Wireshark）是一个网络封包分析软件。网络封包分析软件的功能是撷取网络封包，并尽可能显示出最为详细的网络封包资料。Wireshark使用WinPCAP作为接口，直接与网卡进行数据报文交换。</p>
	                            	<span class="time">2012年2月12日</span><span class="downcs">已下载x次</span>
	                            </span>
	                        </td>
	                  
	                        <td class="tbodytd3">
	                            <a href=""><img src="img/img_project/down.png" class="downimg2"></a>
	                        </td>
	                    </tr>
	                  
	                   <tr>
	                        <td class="tbodytd1">
	                            <img src="img/timg.jpg">
	                            <span><a href="" class="">Ethereal 数据包嗅探软件</a></br>
	                            	<p class="shiyan-p"> &nbsp;&nbsp; Ethereal具有设计完美的GUI 界面和众多分类信息及过滤选项。使用Ethereal可以很方便地对截获的数据包进行分析，包括该数据包的源地址、目的地址、所属协议等，以帮助网络人士分析网络流量和检修网络故障。</p>
	                            <span class="time">2012年2月12日</span><span class="downcs">已下载x次</span></span>
	                        </td>
	                  
	                        <td class="tbodytd3">
	                            <a href=""><img src="img/img_project/down.png" class="downimg2"></a>
	                        </td>
	                    </tr>
	                      <tr>
	                        <td class="tbodytd1">
	                            <img src="img/timg.jpg">
	                            <span><a href="" class="">X-Scan端口扫描软件</a></br>
	                            	<p class="shiyan-p"> &nbsp;&nbsp;采用多线程方式对指定IP地址段(或单机)进行安全漏洞检测，支持插件功能，提供了图形界面和命令行两种操作方式，扫描内容包括：远程操作系统类型及版本，标准端口状态及端口BANNER信息，CGI漏洞，IIS漏洞，RPC漏洞，SQL-SERVER、FTP-SERVER、SMTP-SERVER、POP3-SERVER、NT-SERVER弱口令用户，NT服务器NETBIOS信息等。</p>
	                            <span class="time">2012年2月12日</span><span class="downcs">已下载x次</span></span>
	                        </td>
	                  
	                        <td class="tbodytd3">
	                            <a href=""><img src="img/img_project/down.png" class="downimg2"></a>
	                        </td>
	                    </tr>
	                      <tr>
	                        <td class="tbodytd1">
	                            <img src="img/timg.jpg">
	                            <span><a href="" class="">pwdump和LC4密码破解软件</a></br>
	                            	<p class="shiyan-p"> &nbsp;&nbsp;Pwdump可以在CMD下提取出系统中的用户的密码hash (包括LM和NTLM)，当然必须要有系统权限。提取出了HASH，再用LC4破出明文密码，这对进一步渗透是有很大帮助的。</p>
	                            <span class="time">2012年2月12日</span><span class="downcs">已下载x次</span></span>
	                        </td>
	                  
	                        <td class="tbodytd3">
	                            <a href=""><img src="img/img_project/down.png" class="downimg2"></a>
	                        </td>
	                    </tr>
	                      <tr>
	                        <td class="tbodytd1">
	                            <img src="img/timg.jpg">
	                            <span><a href="" class="">Snort入侵检测软件</a></br>
	                            	<p class="shiyan-p"> &nbsp;&nbsp;Snort是个开源的IDS。它由4个部分组成：嗅探器、预处理器、检测引擎以及报警。嗅探器行为非常类似于ethereal或者tcpdump。它会将通信转储到屏幕或其它指定的位置。它用来聚集由预处理器和检测引擎所分析的通信。</p>
	                            <span class="time">2012年2月12日</span><span class="downcs">已下载x次</span></span>
	                        </td>
	                  
	                        <td class="tbodytd3">
	                            <a href=""><img src="img/img_project/down.png" class="downimg2"></a>
	                        </td>
	                    </tr>
	                      <tr>
	                        <td class="tbodytd1">
	                            <img src="img/timg.jpg">
	                            <span><a href="" class="">NS2网络仿真软件</a></br>
	                            	<p class="shiyan-p"> &nbsp;&nbsp; NS2 是指 Network Simulator version 2，它是一种针对网络技术的源代码公开、免费的
软件仿真平台，研究人员使用它很容易进行网络技术研发，而且发展到今天，它所包含的模
块几乎涉及到网络技术的所有方面。NS2 是目前广泛使用的一种网络仿真软件。此外，NS2
也可作为一种辅助教学的工具，逐步广泛应用在网络技术教学领域。总之，目前在学术界和
教育界，有许多人正在或试图使用NS2。我们主要使用它的无线仿真部分。</p>
	                            <span class="time">2012年2月12日</span><span class="downcs">已下载x次</span></span>
	                        </td>
	                  
	                        <td class="tbodytd3">
	                            <a href=""><img src="img/img_project/down.png" class="downimg2"></a>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td class="tbodytd1">
	                            <img src="img/timg.jpg">
	                            <span><a href="" class=""> eNSP网络仿真软件</a></br>
	                            	<p class="shiyan-p"> &nbsp;&nbsp;eNSP(Enterprise Network Simulation Platform)是一款由华为提供的免费的、可扩展的、图形化操作的网络仿真工具平台，主要对企业网络路由器、交换机进行软件仿真，完美呈现真实设备实景，支持大型网络模拟，让广大用户有机会在没有真实设备的情况下能够模拟演练，学习网络技术。</p>
	                            <span class="time">2012年2月12日</span><span class="downcs">已下载x次</span></span>
	                        </td>
	                  
	                        <td class="tbodytd3">
	                            <a href=""><img src="img/img_project/down.png" class="downimg2"></a>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td class="tbodytd1">
	                            <img src="img/timg.jpg">
	                            <span><a href="" class="">Matlab仿真软件</a></br>
	                            	<p class="shiyan-p"> &nbsp;&nbsp; Matlab在数学类科技应用软件中在数值计算方面首屈一指。MATLAB可以进行矩阵运算、绘制函数和数据、实现算法、创建用户界面、连接其他编程语言的程序等，主要应用于工程计算、控制设计、信号处理与通讯、图像处理、信号检测、金融建模设计与分析等领域。
</p>
	                            <span class="time">2012年2月12日</span><span class="downcs">已下载x次</span></span>
	                        </td>
	                  
	                        <td class="tbodytd3">
	                            <a href=""><img src="img/img_project/down.png" class="downimg2"></a>
	                        </td>
	                    </tr>
	                    </tbody>
	              
	                  </table>
	                  <div class="tablefoot">
	                  	<div class="tablefootleft">
	                     	<span>每页15条  共计xxx条</span>
	                     	<span>第一页</span>
	                     	<span> <a href="#"><<上一页</a></span>
	                     	<span><a href="#">下一页>></a></span>
	                     	<span>跳转到<input type="text"></span>
	                     </div>
	                 </div>
                    </div>
                 </div>
               </div>
                 <!--内容中间栏第一个模板结束-->
			 </div>   
		</div>    	

	<!--尾部footer开始-->	
	<div class="footer cx-wrapper">
			<div class="cx-inner clearfix">
				<div class="foot_l">
					<img src="img/sydw.jpg"/>
					<p>版权所有 巢湖学院 Copyright © Chaohu university All rights reserved.</p>
					<p>校址：安徽省合肥巢湖经济开发区  邮政编码：238000 皖ICP备05018249号</p>
				</div>
				<div class="foot_r">
			        <div class="f_r_peo" frag="面板15">
			        	<div frag="窗口15">
			          		<div class="articlecontent ">
				                <style type="text/css">
				                	.wp_editor_art_table td {
				                		border:0 !important; 
				                		background:none !important; 
				                		color:#fff;
				                	}
				                	.wp_editor_art_table {
				                		margin-bottom:0 !important;
				                	}
				                </style>
				                <table class="wp_editor_art_table" cellpadding="0" cellspacing="0" width="100%">
				                	<tbody>
				                		<tr>
				                			<td>
				                				<p style="text-align:center;">
				                				<img data-layer="photo" src="img/weberwema.jpg" style="float:none;" sudyfile-attr="{'title':'wzewm.jpg'}"></p>
				                			</td>
				                			<td>
				                				<p style="text-align:center;">
				                				<img data-layer="photo" src="img/wecharerweima.jpg" style="float:none;" sudyfile-attr="{'title':'wxewm.jpg'}"></p>
				                			</td>
				                		</tr>
				                		<tr>
				                			<td style="text-align:center;">网站二维码</td>
				                			<td style="text-align:center;">微信二维码<br></td>
				                		</tr>
				                	</tbody>
				                </table>
			          		</div>
			        	</div>
			        </div>
			        <div class="f_r_le">
			        	<img src="img/gaba.jpg">
			        	<span>皖公网安备 34018102340270号</span>
			        </div>
				</div>
			</div>
		</div>
	</body>
</html>