<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>虚拟仿真实验教学中心</title>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" type="text/css" href="css/cxxt-mian.css"/>
		<link rel="stylesheet" type="text/css" href="css/cxxt_download.css"/>
		<link rel="stylesheet" type="text/css" media="screen" href="css/media.css">
		<link href="favicon.ico" rel="shortcut icon">
		<link href="css/question.css" rel="stylesheet">
		<script type="text/javascript" src="js/jxzy.js"></script>
</head>
<body>
	<!--头部开始-->
	<div class="header">
			<div class="cx-wrapper topwrapbg">
				<div class="cx-inner">
					<div class="topwrap yahei"><!--logo-->
						<a class="logo" href="cxxt_index.jsp" target="_self">
							<img src="img/logo.png"/>
						</a>
						<div class="logo-center">
							<!--这是一张校训图片，现在没有.加载背景图上-->
						</div>
						<!--屏幕在320px时，打开切换按钮，nav-->
						<div class="nav-tab" id="nav_tab">
							<!--<img src="img/ban_img/icon.png"/>-->
						</div>
						<!--搜索开始-->
						<div class="logo-r" id="logo_r">
							<div class="guanliyuan">
								<a >请搜索关键字</a>
								<a>|</a>
								<a href="#">管理员</a>
							</div>
							<div class="searchs">
								<div class="search">
									<div class="search-input">
										<input name="keyword" class="search-title" type="text" placeholder="搜索...">
									</div>
									<div class="search-btn">
										<input name="submit" class="search-submit" type="submit" value="">
									</div>
								</div>
							</div>
						</div>
						<!--搜索结束-->
					</div>
				</div>
			</div>
		</div>
	<!--头部结束-->
	<div class="cl"></div><!--清除浮动-->
	<!--nav开始-->
	<div class="nav" id="nav">
			<div class="cx-inner">
				<div class="navs yahei">
						<ul>
							<li><a href="cxxt_index.jsp" target="_self">首页</a></li>
							<li><a href="cxxt_introduce.jsp" target="_self">中心概述</a></li>
							<li><a href="cxxt-jxzy.html" target="_self">教学资源</a></li>
							<li><a href="cxxt_Communication.html" target="_self">队伍管理</a></li>
							<li><a href="cxxt_Project.jsp" target="_self">项目展示</a></li>
							<li><a href="cxxt_disciplne.jsp" target="_self">规章制度</a></li>
							<li><a href="cxxt_quenstion.html" target="_self">在线解答</a></li>
						</ul>
				</div>
			</div>
		</div>	
	<!--nav结束-->
		
	<div class="cl"></div><!--清除浮动-->
		
	<!--大图banner-->
	<div class="banner">
			<div class="banner_img">
				<img src="img/cj-img1.jpg">
				<div class="headline">
					<div class="hl_bg"></div>
					<div class="hl_p">
						<p class="hl">文件库</p>
					</div>
				</div>
				<p class="media-p">文件库</p>
			</div>
		</div>
	<!--大图baner结束-->
	
	<!--开始内容部分-->
	<div class="downcontent" id="down_content">
	    	<div class="cx-inner clearfix">
	    		<!--内容左边栏开始-->
	    		<!--此处已更改-->
			<div class="downcolumn1">
			    	<div class="downcolumn1-top">
			    	<span class="downspan1">名师在线解答</span>
			    	<!--此处表示响应式隐藏的按钮-->
			    	<div id="downline">
			    		<div class="downline1"></div>
			    		<div class="downline2"></div>
			    		<div class="downline3"></div>
			    	</div>
			    	</div>
			    	<div class="downcolumn1-content" id="downcolumn1_content">
			    	 	<ul id="downcolumn1ul">
			    	 		<li><img src="img/img_project/column1-topspan2.gif"><span class="backgroundcolor"><a href="cxxt_quenstion.html">名师在线解答</a></span></li>
			    	 		<li><img src="img/img_project/column1-topspan2.gif"><span><a href="cxxt_questionask.html">快速提问</a></span></li>
			    	 
			    	 	</ul>
			    	 </div>
			    </div>
			    <!--更改结束-->
			    <!--内容左边栏结束-->
			    <!--内容中间栏开始-->
			    <div class="downcolumncontent" id="downcolumn_content">
				<div class="downcolumntwo">
				    <div class="downcolumn2-top">
				    	 	<div class="downcolumn2-top1">
				    	 		名师在线解答
				    	 	</div>
				    	 	<div class="downcolumn2-top2">
				    	 		<span>
				    	 			<a href="cxxt_index.jsp">首页>></a>
				    	 		</span>
				    	 		<span >
				    	 			<a href="cxxt_quenstion.html">名师在线解答>></a>
				    	 		</span>
				    	 	</div>
				    </div>
				    <!--提问按钮和搜索栏-->
				    <form id="SearchFrom" action="" method="get" class="clearfix seek">
				    	<a href="cxxt_questionask.html" target="_blank" class="btn-ask">快速提问</a>
					    <div class="fad-search">
					        <input  type="text"  class="keyword"  value="请输入关键字，如java,javascript,C#,C++">
					        <input type="button" class="btn"  value="">
					    </div>
				    </form>
				    <div class="downcolumn2-content clearfix">
				    	<div class="main-sec faq-sec">
			              <div class="cont faq-list">
			              	<dl>
			                  <dt>
			                  	<b>Q:</b><p><a href="#">java的关键字有哪些</a></p>
			                  </dt>
                              <dd>
                              	<b>A:</b>java的关键字具体如下图所示<p><a href="cxxt_questiondetail.html">详细 »</a></p>
                              </dd>
                           </dl>
			               <dl>
			                  <dt>
			                  	<b>Q:</b><p><a href="#">如何运用Oracle数据库实现外连接</a></p>
			                  </dt>
                              <dd>
                              	<b>A:</b>在scott模式下，实现emp表和dept表之间通过deptno列进行完全外连接。具体如下<p><a href="cxxt_questiondetail.html">详细 »</a></p>
                              </dd>
                           </dl>
                           <dl>
			                  <dt>
			                  	<b>Q:</b><p><a href="#">什么是类图</a></p>
			                  </dt>
                              <dd>zz
                              	<b>A:</b><p>类图(Class diagram)是显示了模型的静态结构，特别是模型中存在的类、类的内部结构以及它们与其他类的关系等。。<a href="cxxt_questiondetail.html">详细 »</a></p>
                              </dd>
                           </dl>
				<div class="pager">
    <div class="page">
        <div id="anpSelectData_Settings" style="width: 100%; text-align: center;">

                <a disabled="disabled" target="_self">首页</a>

                <a disabled="disabled" target="_self">上一页</a>

                <span>1</span>
                <a href="http://ask.familydoctor.com.cn/v/36/?page=2&amp;" target="_self">2</a>
                <a href="http://ask.familydoctor.com.cn/v/36/?page=3&amp;" target="_self">3</a>
                <a href="http://ask.familydoctor.com.cn/v/36/?page=4&amp;" target="_self">4</a>
                <a href="http://ask.familydoctor.com.cn/v/36/?page=5&amp;" target="_self">5</a>
                <a href="http://ask.familydoctor.com.cn/v/36/?page=6&amp;" target="_self">6</a>
                <a href="http://ask.familydoctor.com.cn/v/36/?page=7&amp;" target="_self">7</a>
                <a href="http://ask.familydoctor.com.cn/v/36/?page=8&amp;" target="_self">8</a>
                <a href="http://ask.familydoctor.com.cn/v/36/?page=9&amp;" target="_self">9</a>
                <a href="http://ask.familydoctor.com.cn/v/36/?page=10&amp;" target="_self">10</a>
                <a href="http://ask.familydoctor.com.cn/v/36/?page=2&amp;" target="_self">下一页</a>
                <a href="http://ask.familydoctor.com.cn/v/36/?page=1094&amp;" target="_self">尾页</a>
         </div>
        </div>
       </div>
    </div>
   </div>
</div>   
</div>    	
</div>  
</div>  
</div>
	<!--尾部footer开始-->	
	<div class="footer cx-wrapper">
			<div class="cx-inner clearfix">
				<div class="foot_l">
					<img src="img/sydw.jpg"/>
					<p>版权所有 巢湖学院 Copyright © Chaohu university All rights reserved.</p>
					<p>校址：安徽省合肥巢湖经济开发区  邮政编码：238000 皖ICP备05018249号</p>
				</div>
				<div class="foot_r">
			        <div class="f_r_peo" frag="面板15">
			        	<div frag="窗口15">
			          		<div class="articlecontent ">
				                <style type="text/css">
				                	.wp_editor_art_table td {
				                		border:0 !important; 
				                		background:none !important; 
				                		color:#fff;
				                	}
				                	.wp_editor_art_table {
				                		margin-bottom:0 !important;
				                	}
				                </style>
				                <table class="wp_editor_art_table" cellpadding="0" cellspacing="0" width="100%">
				                	<tbody>
				                		<tr>
				                			<td>
				                				<p style="text-align:center;">
				                				<img data-layer="photo" src="img/weberwema.jpg" style="float:none;" sudyfile-attr="{'title':'wzewm.jpg'}"></p>
				                			</td>
				                			<td>
				                				<p style="text-align:center;">
				                				<img data-layer="photo" src="img/wecharerweima.jpg" style="float:none;" sudyfile-attr="{'title':'wxewm.jpg'}"></p>
				                			</td>
				                		</tr>
				                		<tr>
				                			<td style="text-align:center;">网站二维码</td>
				                			<td style="text-align:center;">微信二维码<br></td>
				                		</tr>
				                	</tbody>
				                </table>
			          		</div>
			        	</div>
			        </div>
			        <div class="f_r_le">
			        	<img src="img/gaba.jpg">
			        	<span>皖公网安备 34018102340270号</span>
			        </div>
				</div>
			</div>
		</div>
		</div>
	</body>
</html>