<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>虚拟仿真实验教学中心</title>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" type="text/css" href="css/cxxt-mian.css"/>
		<link rel="stylesheet" type="text/css" href="css/Management_Trainer.css"/>
		<link rel="stylesheet" type="text/css"  media="screen" href="css/media.css"/>
		<link href="favicon.ico" rel="shortcut icon">
		<script src="js/Manage.js"></script>
		<script type="text/javascript" src="js/shpwPic.js" ></script>
	</head>
	<body>
		<!--头部开始-->
		<div class="header">
			<div class="cx-wrapper topwrapbg">
				<div class="cx-inner">
					<div class="topwrap yahei"><!--logo-->
						<a class="logo" href="cxxt_index.jsp" target="_self">
							<img src="img/logo.png"/>
						</a>
						<div class="logo-center">
							<!--这是一张校训图片，加载背景图上-->
						</div>
						<!--屏幕在320px时，打开切换按钮，nav-->
						<div class="nav-tab" id="nav_tab">
							<!--<img src="img/ban_img/icon.png"/>-->
						</div>
						<!--搜索开始-->
						<div class="logo-r" id="logo_r">
							<div class="guanliyuan">
								<a >请搜索关键字</a>
								<a>|</a>
								<a href="#">管理员</a>
							</div>
							<div class="searchs">
								<div class="search">
									<div class="search-input">
										<input name="keyword" class="search-title" type="text" placeholder="搜索...">
									</div>
									<div class="search-btn">
										<input name="submit" class="search-submit" type="submit" value="">
									</div>
								</div>
							</div>
						</div>
						<!--搜索结束-->
					</div>
				</div>
			</div>
		</div>
		<!--头部结束-->
		<div class="cl"></div><!--清除浮动-->
		<!--nav开始-->
		<div class="nav" id="nav">
			<div class="cx-inner">
				<div class="navs yahei">
						<ul>
							<li><a href="cxxt_index.jsp" target="_self">首页</a></li>
							<li><a href="cxxt_introduce.html" target="_self">中心概述</a></li>
							<li><a href="cxxt-jxzy.html" target="_self">教学资源</a></li>
							<li><a href="cxxt_Communication.html" target="_self">队伍管理</a></li>
							<li><a href="cxxt_Project.html" target="_self">项目展示</a></li>
							<li><a href="cxxt_disciplne.html" target="_self">规章制度</a></li>
							<li><a href="cxxt_quenstion.html" target="_self">在线解答</a></li>
						</ul>
				</div>
			</div>
		</div>	
		<!--nav结束-->
		
		<div class="cl"></div><!--清除浮动-->
		
		<!--大图banner-->
		<div class="banner">
			<div class="banner_img">
				<img src="img/cj-img1.jpg">
				<div class="headline">
					<div class="hl_bg"></div>
					<div class="hl_p">
						<p class="hl">教学资源</p>
					</div>
				</div>
				<p class="media-p">教学资源</p>
			</div>
		</div>

		<!--主体开始-->
		<div class="content_news clearfix">
			<div class="cx-inner">
				<div class="content_news_1 clearfix">
					<div class="info-box">
						<div class="article">
							<div class="arti-title">
								<h2>关于十九大报告，你必须知道的“关键词”</h2>
							</div>
							<p class="arti-metas">
								<span class="arti-update">时间：2017-11-02</span>
								<span class="arti-views">
									浏览：
									<span class="WP_VisitCount">222</span>
								</span>
							</p>
							<div class="entry">
								<p>10月18日，中国共产党第十九次全国代表大会在北京人民大会堂隆重开幕。习近平代表第十八届中央委员会向大会作报告。 新华社记者马占成 摄</p>
								<p style="text-align:center;"><img src="img/news/new0.jpg"/></p>
								<p>【大会主题】</p>
								<p>不忘初心，牢记使命，高举中国特色社会主义伟大旗帜，决胜全面建成小康社会，夺取新时代中国特色社会主义伟大胜利，为实现中华民族伟大复兴的中国梦不懈奋斗。</p>
								<p>【中国共产党人的初心和使命】</p>
								<p>不忘初心，方得始终。中国共产党人的初心和使命，就是为中国人民谋幸福，为中华民族谋复兴。这个初心和使命是激励中国共产党人不断前进的根本动力。全党同志一定要永远与人民同呼吸、共命运、心连心，永远把人民对美好生活的向往作为奋斗目标，以永不懈怠的精神状态和一往无前的奋斗姿态，继续朝着实现中华民族伟大复兴的宏伟目标奋勇前进。</p>
								<p>【极不平凡的五年】</p>
								<p>十八大以来的五年，是党和国家发展进程中极不平凡的五年。面对世界经济复苏乏力、局部冲突和动荡频发、全球性问题加剧的外部环境，面对我国经济发展进入新常态等一系列深刻变化，我们坚持稳中求进工作总基调，迎难而上，开拓进取，取得了改革开放和社会主义现代化建设的历史性成就。</p>
								<p>【十大“成就”】</p>
								<p>【历史性变革】</p>
								<p>五年来的成就是全方位的、开创性的，五年来的变革是深层次的、根本性的。五年来，我们党以巨大的政治勇气和强烈的责任担当，提出一系列新理念新思想新战略，出台一系列重大方针政策，推出一系列重大举措，推进一系列重大工作，解决了许多长期想解决而没有解决的难题，办成了许多过去想办而没有办成的大事，推动党和国家事业发生历史性变革。这些历史性变革，对党和国家事业发展具有重大而深远的影响。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--content_job结束-->
		
		<div class="footer cx-wrapper">
			<div class="cx-inner clearfix">
				<div class="foot_l">
					<img src="img/sydw.jpg"/>
					<p>版权所有 巢湖学院 Copyright © Chaohu university All rights reserved.</p>
					<p>校址：安徽省合肥巢湖经济开发区  邮政编码：238000 皖ICP备05018249号</p>
				</div>
				<div class="foot_r">
			        <div class="f_r_peo" frag="面板15">
			        	<div frag="窗口15">
			          		<div class="articlecontent ">
				                <style type="text/css">
				                	.wp_editor_art_table td {
				                		border:0 !important; 
				                		background:none !important; 
				                		color:#fff;
				                	}
				                	.wp_editor_art_table {
				                		margin-bottom:0 !important;
				                	}
				                </style>
				                <table class="wp_editor_art_table" cellpadding="0" cellspacing="0" width="100%">
				                	<tbody>
				                		<tr>
				                			<td>
				                				<p style="text-align:center;">
				                				<img data-layer="photo" src="img/weberwema.jpg" style="float:none;" sudyfile-attr="{'title':'wzewm.jpg'}"></p>
				                			</td>
				                			<td>
				                				<p style="text-align:center;">
				                				<img data-layer="photo" src="img/wecharerweima.jpg" style="float:none;" sudyfile-attr="{'title':'wxewm.jpg'}"></p>
				                			</td>
				                		</tr>
				                		<tr>
				                			<td style="text-align:center;">网站二维码</td>
				                			<td style="text-align:center;">微信二维码<br></td>
				                		</tr>
				                	</tbody>
				                </table>
			          		</div>
			        	</div>
			        </div>
			        <div class="f_r_le">
			        	<img src="img/gaba.jpg">
			        	<span>皖公网安备 34018102340270号</span>
			        </div>
				</div>
			</div>
		</div>
	</body>
</html>
